.ax-sidenav {
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  flex: 0 0 250px;
  width: 250px;
  height: 100vh;
  padding-bottom: 30px;
  padding-top: 30px;

  &--locked {
    position: relative;
    z-index: 0;
  }

  &__logo {
    padding-left: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
  }
}
