{{! template-lint-disable table-groups }}

<table class="md-table {{@classNames}}">
  {{#let
    (hash
      sort=@sort
      updateSort=(action "updateSort")
    )
    as |tableAPI|
  }}
    {{yield (hash
      head=(component "ax-table/head"
        tableAPI=(readonly tableAPI))
      body=(component "ax-table/body")
    )}}
  {{/let}}
</table>
