<h1>Welcome to Acrolinx Components.</h1>
<div>
  This project is intended to unify Ember development process at Acrolinx.
  It’s the place where all of the most used UI-components are being collected and updated.
</div>
{{outlet}}
