<h1>Checkbox example</h1>
{{#docs-demo as |demo|}}
  {{#demo.example name='docs-demo-ax-checkbox.hbs'}}
    {{ax-checkbox value=TBD onChange=(action (mut TBD))}} Check me
  {{/demo.example}}
  {{demo.snippet 'docs-demo-ax-checkbox.hbs'}}
{{/docs-demo}}