<h1>Modal Dialog</h1>
<h2 class="docs-md__h2">Usage</h2>
This element can be used in the same way as <a href="https://miguelcobain.github.io/ember-paper/#/components/dialog">paper-dialog</a>.
<h2 class="docs-md__h2">Accessibility features</h2>
Accessible behavior added: keyboard is being trapped inside dialog element.