<h1>Icon</h1>
Material Design icon
  <h2 class="docs-md__h2">Usage</h2>

  {{#docs-demo as |demo|}}
    {{#demo.example name="docs-demo-ax-icon.hbs"}}
      {{#ax-icon name="add_circle" size=24}}{{/ax-icon}}
      {{#ax-icon name="add_circle" size=36}}{{/ax-icon}}
    {{/demo.example}}
    {{demo.snippet "docs-demo-ax-icon.hbs"}}
  {{/docs-demo}}

  <h2 class="docs-md__h2">Attributes</h2>
{{#paper-list}}
  {{#paper-subheader classNames="md-list-item-header"}}
    ariaHidden
  {{/paper-subheader}}
  <p class="attribute-description">Set aria-hidden on icon element to hide the icon from screen reader</p>


  {{#paper-subheader classNames="md-list-item-header"}}
    ariaLabel
  {{/paper-subheader}}
  <p  class="attribute-description">Set aria-label on element</p>

  {{#paper-subheader classNames="md-list-item-header"}}
    classNames
  {{/paper-subheader}}
  <p  class="attribute-description">Pass class names for the icon</p>

  {{#paper-subheader classNames="md-list-item-header"}}
    name
  {{/paper-subheader}}
  <p  class="attribute-description">Pass icon name from this list: <a href="https://material.io/tools/icons/?style=baseline">available md-icons</a></p>

  {{#paper-subheader classNames="md-list-item-header"}}
    size
  {{/paper-subheader}}
  <p  class="attribute-description">Set size for the icon</p>
  

{{/paper-list}}