<h1>Icons</h1>
<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Values</th>
      <th>Explanation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>classNames</td>
      <td>string</td>
      <td>Pass space separated names of classes</td>
    </tr>
  </tbody>
</table>
