<h1>Radio Button</h1>
<h2 class="docs-md__h2">Usage</h2>
This element can be used in the same way as <a href="https://miguelcobain.github.io/ember-paper/#/components/radio">paper-radio</a>.
<h2 class="docs-md__h2">Accessibility features</h2>
Accessible behavior added: value of the focused radio button changes when hitting Enter or Space key.