<h1>SVG components</h1>
<h2 class="docs-md__h2">Logo</h2>
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-logo.hbs"}}
  {{ax-svg/logo}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-logo.hbs"}}
{{/docs-demo}}
<h2 class="docs-md__h2">Avatar</h2>
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-avatar.hbs"}}
  {{ax-svg/avatar}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-avatar.hbs"}}
{{/docs-demo}}