<h1>Table</h1>
<h2 class="docs-md__h2">Usage</h2>
An ax-table consists of a head and a body.
Each head, on its turn, may contain columns or sortable columns.
A body consists of rows, each row has several cells.
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-table.hbs"}}
    {{#ax-table sort="myCategory" direction="desc" as |table|}}
      {{#table.head as |head|}}
        {{#head.column}}
          Header 1
        {{/head.column}}
        {{#head.column classNames="md-primary"}}
          Header 2
        {{/head.column}}
        {{#head.sortableColumn sortBy="myCategory"}}
          Header 3
        {{/head.sortableColumn}}
      {{/table.head}}
      {{#table.body as |body|}}
        {{#body.row as |row|}}
          {{#row.cell}}
            Data 1
          {{/row.cell}}
          {{#row.cell}}
            Data 2
          {{/row.cell}}
          {{#row.cell}}
            Data 3
          {{/row.cell}}
        {{/body.row}}
        {{#body.row as |row|}}
          {{#row.cell}}
            Other data
          {{/row.cell}}
          {{#row.cell}}
            Other data
          {{/row.cell}}
          {{#row.cell}}
            Other data
          {{/row.cell}}
        {{/body.row}}
      {{/table.body}}
    {{/ax-table}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-table.hbs"}}
{{/docs-demo}}

<h2 class="docs-md__h2">Attributes</h2>

{{#paper-list}}
  <h3 class="md-list-item-header">
    Table
  </h3>
  {{#paper-subheader classNames="md-list-item-header"}}<div>sort</div>{{/paper-subheader}}
  <p class="attribute-description">Set sort category of the table. Can also be passed in via query parameters.</p>
  {{paper-divider}}
  {{#paper-subheader classNames="md-list-item-header"}}<div>direction</div>{{/paper-subheader}}
  <p class="attribute-description">Set sort direction for the table. Can also be passed in via query parameters.</p>
  {{paper-divider}}
  {{#paper-subheader classNames="md-list-item-header"}}<div>classNames</div>{{/paper-subheader}}
  <p class="attribute-description">Pass classes which should be applied on the table</p>
  {{paper-divider}}
  <h3 class="md-list-item-header">Column</h3>
  {{#paper-subheader classNames="md-list-item-header"}}classNames{{/paper-subheader}}
  <p class="attribute-description">Pass classes which should be applied to the column</p>
  <h3 class="md-list-item-header">sortableColumn</h3>
  {{#paper-subheader classNames="md-list-item-header"}}classNames{{/paper-subheader}}
  <p class="attribute-description">Pass classes which should be applied to the column</p>
  {{#paper-subheader classNames="md-list-item-header"}}sortBy{{/paper-subheader}}
  <p class="attribute-description">Pass sorting category name which is referred to in <code>sort</code> property of the table element</p>
  <h3 class="md-list-item-header">Cell</h3>
  {{#paper-subheader classNames="md-list-item-header"}}classNames{{/paper-subheader}}
  <p class="attribute-description">Pass classes which should be applied to the cell</p>
  <h3 class="md-list-item-header">Row</h3>
  {{#paper-subheader classNames="md-list-item-header"}}classNames{{/paper-subheader}}
  <p class="attribute-description">Pass classes which should be applied to the row</p>
{{/paper-list}}