<h1>Title</h1>
A <code>h1</code> element with <code>.main-title</code> css class.
<h2 class="docs-md__h2">Usage</h2>
{{#docs-demo as |demo|}}
  {{#demo.example name="docs-demo-ax-title.hbs"}}
    {{#ax-title}}
      Example title
    {{/ax-title}}
  {{/demo.example}}
  {{demo.snippet "docs-demo-ax-title.hbs"}}
{{/docs-demo}}